<div id="<%= dom_id applicant %>">
  <div class="flex items-baseline justify-between mb-6 text-gray-700">
    <h2 class="mt-6 text-3xl font-extrabold">
      <%= @applicant.full_name %>
    </h2>
    <%= link_to "Send email", new_applicant_email_path(@applicant),
                              class: "btn-primary-outline",
                              data: { action: "click->slideover#open", remote: true } %>
  </div>

  <div class="shadow p-4 text-gray-700">
    <div class="flex justify-between mb-6">
      <div class="space-y-2">
        <h3 class="text-xl font-bold">Applicant info:</h3>
        <p><%= mail_to @applicant.email %></p>
        <p><%= phone_to @applicant.phone %></p>
      </div>
      <div class="space-y-2">
        <h3 class="text-xl font-bold">Application details:</h3>
        <p>Applied for: <%= @applicant.job.title %></p>
        <p>Applied on: <%= l(@applicant.created_at.to_date, format: :long) %></p>
      </div>
      <div class="space-y-2">
      <!-- Applicant actions go here -->
      </div>
    </div>
    <!--
    NOTE:  Turbo Frame attributes like src and loading: "lazy" must be set when the frame is initially rendered. So, in this example, that means we need to set the src and lazy values on the version of the frame rendered by the applicant#show view versus the resume#show.
    When a frame enters the DOM, Turbo sees the attributes, triggers a request to the specified
    src URL, and replaces the inner HTML of the Turbo Frame with the response from the server (resumes#show)
    -->
    <% if @applicant.resume.attached? %>
      <%= turbo_frame_tag "resume", src: applicant_resume_path(@applicant), loading: "lazy" do %>
        <div class="w-full bg-gray-100 rounded flex justify-center items-center h-[1000px]">
          Loading...
        </div>
      <% end %>
    <% end %>
  </div>

</div>
