<!-- The helper turbo_frame_tag injects <turbo_frame id= into the DOM.
      In this case that would be <turbo_frame id="applicants">
      Thus we are setting up this partial to be the "response" portion of a Turbo_frame interaction.
      Turbo will expect a corresponding "request" (contained in a different partial) to
      contain the same <turbo_frame id="applicants"

      In this case the "request" comes from the filter_form partial and this response then
      renders the applicants portion of the index page according to the filter criteria
       -->
<%= turbo_frame_tag "applicants", class: "flex flex-grow mt-4 space-x-6 overflow-auto",
                                  data: { controller: "drag",
                                          drag_url_value: "/applicants/:id/change_stage", drag_attribute_value: "applicant[stage]"
                                        } do %>

  <% %w[application interview offer hired].each do |stage| %>

    <div class="flex flex-col flex-shrink-0 w-72">

      <div class="flex items-center flex-shrink-0 h-10 px-2">
        <span class="block text-lg font-semibold"><%= stage.to_s.humanize %></span>
      </div>

      <div id="applicants-<%= stage %>" data-drag-target="list"
                                        data-new-value="<%= stage.to_s %>"
                                        class="h-full">
        <% @grouped_applicants[stage]&.each do |applicant| %>
          <%= render "card", applicant: applicant %>
        <% end %>
      </div>

    </div>

  <% end %>

<% end %>
