<!-- The helper data: { turbo_frame: "jobs" } establishes the "request" portion of
      a Turbo_frame interaction.
      Turbo will expect a corresponding "response" (contained in a different partial) to
      contain the  <turbo_frame id="jobs">

      In this case the "request" comes from here and the response comes from the list partial

      NOTE:  The turbo_action: "advance" updates the page's url (in the address bar) to reflect the filter criteria chosen (even though turbo is not updating the entire page) as this makes it easier for a user to bookmank or share the page with the selected filter criteria intact
       -->
<%= form_with url: jobs_path,
              method: :get,
              class: "flex items-baseline",
              data: {
                      controller: "form",
                      form_target: "form",
                      turbo_frame: "jobs",
                      turbo_action: "advance"
                    } do |form| %>

  <!--Note use of helper method 'job_sort_options_for_select' -->
  <div class="form-group mr-2">
    <%= form.label :sort, class: "sr-only" %>
    <%= form.select :sort,
            options_for_select(
                               job_sort_options_for_select,
                               fetch_filter_key("job", current_user.id, "sort")
                               ),
                    {},
                    { data: { action: "change->form#submit" } }
                    %>
    <!-- re: the data action above:  "On Change event, call the form controller's submit method-->
  </div>

  <!--Note use of helper method 'job_options_for_select' -->
  <div class="form-group mr-2">
    <%= form.label :status, class: "sr-only" %>
    <%= form.select :status, options_for_select(
                                                status_options_for_select,
                                                fetch_filter_key("job", current_user.id, "status")
                                               ),
                          { include_blank: 'All Statuses' },
                          { data: { action: "change->form#submit" } }
                          %>
  </div>

  <div class="form-group mr-2">
    <%= form.label :query, class: "sr-only" %>
    <%= form.text_field :query,
                        placeholder: "Search Jobs",
                        value: fetch_filter_key("job", current_user.id, "query"),
                        data: { action: "input->form#submit" }  %>
  </div>

<% end %>
